<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="DatabaseConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" />
        <add name="DatabaseConnection2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\GitHub\QuanLyThuVien\DAL\Database.mdf;Integrated Security=True" />
        <add name="DatabaseConnection3" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\vutro\Documents\GitHub\QuanLyThuVien\DAL\Database.mdf;Integrated Security=True" />
        <add name="DatabaseConnection4" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\Videos\QuanLyThuVien\DAL\Database.mdf;Integrated Security=True" />
        <add name="DatabaseConnection5" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\Videos\QuanLyThuVien-master\DAL\Database.mdf;Integrated Security=True" />
        <add name="GUI.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\Videos\QuanLyThuVien\DAL\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.DatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\Videos\QuanLyThuVien-master\DAL\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <GUI.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
</configuration>